@{
    ViewData["Title"] = "Contact";
}
<footer>
    <div>
        <p class="mb-2"><small>COPYRIGHT © 2021. ALL RIGHTS RESERVED. <a href="https://shoponline.nl/">ShopOnline</a></small></p>
    </div>
</footer>

